body {
    background-color: antiquewhite;
}
h1 {
    text-align: center;
}
p{text-align: center;}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 0.5em solid blue; 
}
#play {
    display: block;
    justify-content: center;
    align-items: center; 
    margin: 0; 
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 550px;
    height: 200px;
    border: 0.1em solid black;
    font-family: Arial, Helvetica, sans-serif;
}
#play form {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }
input {
    margin: auto;
}