<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Play Page </title>
        <link rel="stylesheet" href="game.css" />	
	</head>

	<body>
        <h1>Game</h1>
        <div id="game">
            <!--TODO: Display the user's name-->
            Number of clicks: <%- numOfClicks %> <br>
            <input type="button" id="click" name="click" value="click"> <br>
            Quote: <%- quote %> <br>
            <!--TODO: Button to Save the Data-->
        </div>	
   </body>
</html>
