<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Game Page </title>
        <link rel="stylesheet" href="game.css" />	
	</head>

	<body>
        <h1>play</h1>
        <div id="play">
		    <form action="/play" method="get">
            
			    Name: <input type="text" id="name" name="name"> <br>
                
		    </form>	
        </div>	
   </body>
</html>