<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Main Page </title>
        <link rel="stylesheet" type = "text/css" href="SignIn.css" />	
	</head>

	<body>
        <div id="SignIn">
			<a href="/signUp"><button>signUp</button></a><br>
			<a href = "/playPage"><button>play</button></a>
        </div>	
   </body>
</html>