<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Main Page </title>
        <link rel="stylesheet" text = "text/css" href="SignIn.css" />	
	</head>

	<body>
        <h1 align="center"><i>Clicker Game!</i></h1><br>
        <div id="SignIn">
			<button id = "signUp"><a href="/signUp">signUp</a></button><br>
			<button id = "play"><a href = "/playPage">play</a></button>
        </div>	
   </body>
</html>