<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Play Page </title>
        <link rel="stylesheet" href="game.css" />	
	</head>

	<body>
        <h1>play</h1>
        <div id="play">
		    <form action="/gamePage" method="post">
            
			    Name: <input type="text" name="name"> <br>
                <input type="submit" value="Play!"/>
		    </form>	
        </div>	
   </body>
</html>