<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Play Page </title>
        <link rel="stylesheet" href="game.css" />
	</head>

	<body>
        Your session has been saved!<br>
        Total Clicks Ever: <%- totalClicks %><br>
        <a href="/">Home</a>
    </body>
</html>