<!doctype html>
<html lang="en">
    <head> 
        <meta charset="utf-8"> 
		<title>Play Page </title>
	</head>

	<body>
        Your session has been saved!<br>
        Total Clicks <%-totalClicks->
        <a href="/">Home</a>
    </body>
</html>