<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Sign Up Page</title>
</head>

<body>
	<h1>Sign Up</h1>
	<form action="/signup" method="post">
		<fieldset> 
			<label><strong>Name:</strong> <input type="text" id="name" name="name"/></label>
			<label><strong>Email Address:</strong> <input type="email" id="email" name="email"/></label> <br>
            <label><strong>Username:</strong> <input type="text" id="username" name="username"/></label> <br>
            <label><strong>password:</strong> <input type="password" id="password" name="password"/></label>
		</fieldset>

		<br>
		<input type="reset" />
		<input type="submit" value="Submit Application"/>
	</form>
</body>

</html>
